.chat-page {

  h2{
    color: #0F4C5C;
  }

  section {
    height: 50vh;
    width: 65vw;
    border: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #07667ec9;
  }

  div {
    padding: .2em;

  }

  form {
    margin-top: 2em;
    width: 65vw;
    display: flex;
    justify-content: space-around;
    input {
      width: 60vw
    }

    button {
      border-radius: 50%;
      background-color:#F15BB5 ;
    }
  }

}
