.chat-page {


  section {
    height: 50vh;
    width: 65vw;
    border: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
  }

  div {
    padding: .2em;

  }

  form {
    margin-top: 2em;
    width: 65vw;

    input {
      width: 60vw
    }

    button {

    }
  }

}
