.message {
  display: flex;
  justify-content: flex-end;
}

.my-messages {
  display: flex;
  justify-content: flex-end;
    .name {
      background-color: red;
    }
}

.other-messages {
  display: flex;
    .name {
      background-color: lightblue;
    }
}