body{
  background-color: $black;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  border: 1px solid white;
  background-color: $grey;
  width: auto;
  padding: 5em;
  border-radius: 10px;

  h1 {
    margin: 0;
    color: $text;
  }

  h2 {
    margin: 0;
    font-size: 1.2em;
    color: $text;
  }

  form {
    align-items: center;
    margin-top: 5em;
  }

  button {
    align-self: center;
    background-color: $black;
    color: $text
  }
}
